header .container .navbar{
    flex-direction: column;
    padding: 0.3rem;
}
header .container .navbar ul li a{
    margin-right: 0.5rem;
    font-size: 0.65rem;
    font-family: sans-serif;

}
header{
    width: 100%;
    height: 85px;
}

.container-1{
    align-items: center;
    flex-direction: column;
    margin-top: -100px;
} 
.container-1 .cards-1{
    width: 250px;
    margin-top: 20px;

}
.center{
    margin-top: -300px;
    margin-bottom: 150px;

}
.center .text-center h1{
    font-size: 40px;
    
}
.center .text-center h1:hover{
    letter-spacing: normal;
}
.container-2 .consept{
    flex-direction: column;
    align-items: center;
    margin-right: 100px; 
}
.container-2 .consept .name{
    border-top: 3px solid;
    border-left: none;
    width: 90%;
    align-items: center;
}
.container-2{
    height: 960px;
    
}
footer .box-in li{
    font-size: 5px;
    margin-top:-1px ;
}
footer .box-in h2{
    font-size: 0.6rem;

}